body {
    font-family: Arial, sans-serif;
    background: #f5f5f5;
    margin: 0;
    padding: 20px;
}

.container {
    background: rgb(190, 36, 131);
    padding: 35px;
    border-radius: 4px;
    max-width: 500px;
    margin: auto;
    box-shadow: 0 0 6px rgba(0,0,0,0.1);
}

label {
    display: block;
    margin: 10px 0 5px;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
}

button {
    margin: 5px;
    padding: 10px;
    background-color: #c20975;
    color: rgb(29, 15, 15);
    border: none;
    border-radius: 5px;
}

button:hover {
    background-color: #b30077;
}

.resultado {
    margin-top: 20px;
    padding: 15px;
    background: #f0f0f0;
    border-radius: 8px;
}

.obs {
    margin-top: 15px;
    font-size: 12px;
    color: #555;
}
