body {
    font-family: Arial, sans-serif;
    background: #f1f3f6;
    margin: 0;
    padding: 0;
    text-align: center;
  }
  
  header {
    background-color: #660e69;
    color: white;
    padding: 20px;
  }
  
  #relogio {
    font-size: 18px;
    margin-top: 5px;
  }
  
  main {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 20px;
    padding: 20px;
  }
  
  section {
    background: white;
    border-radius: 8px;
    padding: 15px;
    box-shadow: 0 2px 5px white;
  }
  
  button {
    margin: 5px;
    padding: 10px 20px;
    border: none;
    background: #540f5a;
    color: white;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background: #64086d;
  }
  
  ul {
    list-style: none;
    padding: 0;
  }
  
  .modal {
    display: none;
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background: rgba(0,0,0,0.6);
    justify-content: center;
    align-items: center;
  }
  
  .modal-content {
    background: white;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
  }